section.shipments {
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

section.shipments h2 {
  text-align: center;
  color: #f00;
}

section.shipments .modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}
section.shipments .bikers-list {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

section.shipments .bikers-list .profile {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-areas: "user_name user_picture";
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

section.shipments .bikers-list .profile:hover {
  background-color: #000;
  color: #fff;
}

section.shipments .bikers-list .profile .picture {
  grid-area: user_picture;
  width: 40px;
  background-color: #eee;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
section.shipments .bikers-list .profile h3 {
  grid-area: user_name;
  margin: 10px 0;
  font-size: 15px;
}

section.shipments.manager-list .shipment .button_status {
  box-shadow: none;
  cursor: auto;
}

section.shipments .shipment-list h4 {
  border-bottom: solid #e0e0e0 4px;
  padding-bottom: 5px;
}
