section.login {
  background: linear-gradient(0deg, #eee, #fff);
  background-size: 0% 100%;
  max-width: 300px;
  margin: 10vw auto;
  margin-top: 10vw !important;
  text-align: center;
  padding: 40px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  animation: show 5s forwards;
}
section.login .link-logo {
  display: block;
}
section.login .App-logo {
  width: 100px;
}

section.login input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-width: 0 0 2px 0;
  max-width: 100%;
  margin-bottom: 10px;
}

section.login button {
  background-color: #f00;
  color: #fff;
  border: 0;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.1s;
  cursor: pointer;
  box-shadow: 0 3px 0 #bd0000;
}

section.login button:active {
  transform: scale(0.97);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}
section.login button[type="reset"] {
  background-color: #9e9e9e;
  box-shadow: 0 3px 0 #636363;
}

section.login .message.error {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

@keyframes show {
  0% {
    background-size: 0% 100%;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
  100% {
    background-size: 200% 200%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  }
}
